/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero {
    background-color: #f8f9fa;
}

.btn-success {
    background-color: #6c63ff;
    border: none;
}

.btn-success:hover {
    background-color: #574fd6;
}

.features h5 {
    color: #6c63ff;
}

.screenshots img {
    transition: transform 0.3s ease;
}

.screenshots img:hover {
    transform: scale(1.03);
}

footer {
    background-color: #343a40;
}